body{ 
  background:#EAE9E5;
} 
nav {
 padding:10px 100px !important;
}
.login_form{
  margin-top: 25%;
  margin-bottom: 25%;
  background: #fff;
  padding: 30px; 
  box-shadow: 0px 1px 36px 5px rgba(0,0,0,0.28);
  border-radius: 5px;
}
.form_btn{ 
  background: #0046C2;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  border: none;
  color: #fff; 
  width: 100% 
}
.label_txt{ 
  font-size: 12px; 
}  
.form-control{border-radius: 25px }
.signup_form{ 
  background: #fff;
  padding-left: 25px; 
  padding-right: 25px; 
  padding-bottom:5px; 
  box-shadow: 0px 1px 36px 5px rgba(0,0,0,0.28);
  border-radius: 5px;
}
.logo{ 
  color:#0046C2;
  font-weight:bold;
}
.errmsg{ 
  margin: 2px auto;
  border-radius: 5px;
  border: 1px solid red;
  background: pink;
  text-align: left;
  color: brown;
  padding: 5px;
}
.successmsg{
  margin: 5px auto;
  border-radius: 5px;
  border: 1px solid green;
  background: #33CC00;
  text-align: left;
  color: white;
  padding: 10px;
}
.hero {
  padding-top:50px;
  padding-bottom:100px;
  background:white;
}
.brands ul {
  list-style-type:none;
}
.brands li {
  text-align:center;
  color:#0046C2;
  font-weight:bold;
  font-size:20px;
  background:#EAE9E5;
  margin:30px;
  border: 1px solid #0046C2;
  border-radius:5px;
  padding:10px;
  max-width:600px;
}
.brands li:hover {
  color:white;
  background:#0046C2;
  box-shadow: 5px 5px 10px gray;
  }
.head {
  padding-top:40px;
  padding-bottom:10px;
}
.cart {

}